/* colors */
$white: #fff;
$black: #000;
$dark-blue: #101f2f;
$blue: #072648;
$blue-text: #091f38;
$menu-border: 1px solid #505861;
$border: 1px solid #e8e8e8;
$gray-text: #c3c3c3;
$orange: #ff8e02;
$dark-orange: #e78502;
$light-orange: #f9ffab;
$dark-text: #494949;
$light-text: rgba(255,255,255,.5);
$green: #15cf15;
$dark-green: #10b710;
$blue-border: #5da2ff;
$dark-blue-border: #3b81d0;

$gray-hover: #444;
$gray-border: #f1f1f1;
$dark-gray: #1d1d1d;
$light-gray: #d2d2d2;
$light-border: #dbdbdb;
$yellow: #ffde00;
$dark-yellow: #e3c500;
$white: #fff;
$error: #dc143c;


/* buttons */
$cursor: pointer;
$border-radius: 50px;
$transition: 0.3s;
