<div class="row">
  <div class="col-md-12 col-lg-6 pr-0 of-wrapper">
    <img src="../../../../assets/images/building1.jpg" class="w-100 h-100 of-banner" alt="banner image">
  </div>
  <div class="col-md-12 col-lg-6 bg-white">
    <div class="row">
      <div class="col-md-12 of-head pt-4">
        <span>Augustus Residence</span>
        <p>Nyon, Vaud</p>
      </div>
      <div class="col-md-12 p-4 of-invest">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Available to invest</span>
          <span class="font-weight-bold">CHF 15'000'000</span>
        </div>
        <div class="row">
          <div class="col-md-12 pt-2">
            <div class="progress">
              <div class="progress-bar" role="progressbar"
                   style="width: 45%"
                   aria-valuenow="25"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row of-info">
      <div class="col-md-12">
        <ul class="d-flex flex-row justify-content-around pl-0 mb-0">
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Purchase cost</span>
            <span class="pt-2 pb-2">CHF 35'000'000</span>
          </li>
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Mortgage (LTV)</span>
            <span class="pt-2 pb-2">55%</span>
          </li>
        </ul>
        <ul class="d-flex flex-row justify-content-around pl-0 mb-0">
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Min. Investment</span>
            <span class="pt-2 pb-2">CHF 100'000</span>
          </li>
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Holding period</span>
            <span class="pt-2 pb-2">7 years</span>
          </li>
        </ul>
        <ul class="d-flex flex-row justify-content-around pl-0 mb-0">
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Investment type</span>
            <span class="pt-2 pb-2">Co-Ownership</span>
          </li>
          <li class="d-flex justify-content-between">
            <span class="pt-2 pb-2">Expected return on equity</span>
            <span class="pt-2 pb-2">6%</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-3 of-button-wrap">
      <button type="button" class="btn btn-primary font-weight-bold shadow-none of-button">
        {{ 'more details' | uppercase }}
      </button>
    </div>
  </div>
</div>


