@import '../../../../assets/styles/partials/base';

.navbar-dark {
  background-color: $blue;
  .navbar-brand {
    img {
      width: 100%;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        border-bottom: $menu-border;
        a {
          padding: 1rem 0rem;
          fa-icon {
            margin: 1rem;
          }
        }
        &:first-child {
          border-top: $menu-border;
          a {
            fa-icon {
              //transform: rotateY(180deg) !important;
              svg {

              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    .navbar-brand {
      width: 20% !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    .navbar-collapse {
      position: fixed;
      top: 63px;
      ul {
        width: 16.666666% !important;
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .navbar-dark {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          a {
            fa-icon {
              margin: 0.25rem;
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: 992px) {
  nav.flex-column {
    flex-direction: row !important;
  }
  nav {
    .navbar-brand {
      width: 12%;
      margin: 0 auto !important;
    }
  }
}
