/* You can add global styles to this file, and also import other style files */

@import './assets/styles/partials/base';

html {
  font-size: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style-type: none;
}

.of-button {
  min-width: 200px;
  border: 1px solid $orange !important;
  border-radius: 0 !important;
  background-color: $orange !important;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $dark-orange !important;
  }
  &.green {
    border: 1px solid $green !important;
    background-color: $green !important;
    &:hover {
      border: 1px solid $dark-green !important;
      background-color: $dark-green !important;
    }
  }
  &.inline {
    border: 1px solid $blue-border !important;
    background-color: $white !important;
    color: $green !important;
    transition: color 0.5s ease, border 0.5s ease;
    &:hover {
      border: 1px solid $dark-blue-border !important;
      color: $dark-green !important;
    }
  }
}
